HOST-KEYWORD,smtp,DIRECT
HOST-KEYWORD,aria2,DIRECT

HOST-KEYWORD,duolingo,PROXY

HOST-SUFFIX,push.apple.com,DIRECT

HOST-KEYWORD,.ad.,REJECT
HOST-KEYWORD,.ads.,REJECT
HOST-KEYWORD,adservice,REJECT
HOST-KEYWORD,analytics,REJECT
