DOMAIN-SUFFIX, apple-cloudkit.com, DIRECT
DOMAIN-SUFFIX, apple-livephotoskit.com, DIRECT
DOMAIN-SUFFIX, cdn-apple.com,DIRECT
DOMAIN-SUFFIX, gc.apple.com, DIRECT
DOMAIN-SUFFIX, icloud.com, DIRECT
DOMAIN-SUFFIX, icloud.apple.com, DIRECT
DOMAIN-SUFFIX, icloud-content.com, DIRECT
DOMAIN-SUFFIX, iwork.apple.com, DIRECT
DOMAIN, mask.icloud.com, DIRECT
DOMAIN, mask-h2.icloud.com, DIRECT
DOMAIN, mask-api.icloud.com, DIRECT
