# > Spotify
USER-AGENT,Spotify*,Direct
DOMAIN-SUFFIX,pscdn.co,Direct
DOMAIN-SUFFIX,scdn.co,Direct
DOMAIN-SUFFIX,spotify.com,Direct
DOMAIN-SUFFIX,spoti.fi,Direct
DOMAIN-KEYWORD,spotify.com,Direct
DOMAIN-KEYWORD,-spotify-com,Direct
